<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About This Angular App</h1>
        <p class="lead">
            Explore our streamlined todo list app, perfect for organizing your tasks efficiently. Seamlessly manage your
            todo works with ease.</p>
        <hr class="my-4">
        <p>Efficiently manage tasks with our simple todo list app. Stay organized and productive effortlessly.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>